<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ecommerce">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ecommerce">
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".feedback"
            android:exported="false" />
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Failed"
            android:exported="false" />
        <activity
            android:name=".Success"
            android:exported="false" />
        <activity
            android:name=".Cart_view"
            android:exported="false" />
        <activity
            android:name=".cart_view"
            android:exported="false"
            android:label="@string/title_activity_cart_view"
            android:theme="@style/Theme.Ecommerce.NoActionBar" />
        <activity
            android:name=".StoreItems"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".HomePage"
            android:exported="false" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_o7hArykzBiVoJI" />
        <meta-data
            android:name="com.google.gms.wallet.api.enabled"
            android:value="true" />
    </application>

</manifest>